<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif">
  <link rel="stylesheet" href="style.css">
  <script src="imports.js"></script>
  <script src="mathjax-config.js" defer></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <title>How I built my Website</title>
</head>

<body>
  <div include-html="navigation.html"></div>
  <h1>How I built my website</h1>
  <p>
    Okay let's start with the elephant in the room: I have no fucking clue what I'm doing when it comes to web design.
    So to no one's surprise my website is a collection of dirty hacks that happen to work on my machine&trade;.
  </p>
  <p>
    The goal was to have a minimalist design that resembles a TeX-generated pdf with (more or less) matching fonts, and
    good math support. The content should scale properly on most devices. I am hosting my website as a GitLab Pages
    project. The obvious choice for building the site would be <i>Jekyll</i>, but I actually wrote this from scratch
    instead since it seems basic enough - at least for now. It was merely a matter of setting page margins and using the
    proper fonts (the fonts here are <i>Noto Serif</i>.) Math is
    rendered client-side with <i>MathJax</i>. Here is an example:
  </p>
  \[
  \def\bP{{\mathbb P}} \def\dd{{\mathrm d}} \def\ind{{\mathbb{1}}}
  \int_S u \ \dd \bP_X = \int_S \ind_B \ \dd \bP_X = \bP_X(B) = \bP(X \in B) = \int_\Omega \ind_{\{X \in B\}} \ \dd \bP
  = \int_\Omega \ind_B(X) \ \dd \bP
  \]
  <p>
    This works reasonably well for most things I need. There is support for a few common LaTeX packages like
    <i>mathtools</i>. However, there is no support for TikZ, but I really want to use commutative diagrams. A solution
    that works well for many people is the <i>embed</i> function on <a href="https://q.uiver.app/">q.uiver.app</a> but
    scaling the diagrams to fit my page proved rather difficult. Instead I have decided to use <a
      href="https://upmath.me/">upmath.me</a> which can render arbitrary TikZ to svg. Here is what the result looks
    like:
  </p>
  <p align="center"><img align="center"
      src="https://i.upmath.me/svg/%20%5Cbegin%7Btikzcd%7D%0A%09%26%26%20%7B%5Coverline%7BF%7D%7D%20%5C%5C%0A%09%5C%5C%0A%09%26%26%20F%20%5C%5C%0A%09X%20%26%26%26%26%20G%0A%09%5Carrow%5B%22%5Calpha%22'%2C%20from%3D4-1%2C%20to%3D4-5%5D%0A%09%5Carrow%5B%22%5Csigma%22%2C%20dashed%2C%20from%3D4-1%2C%20to%3D3-3%5D%0A%09%5Carrow%5B%22%5Cbeta%22%2C%20dashed%2C%20from%3D3-3%2C%20to%3D4-5%5D%0A%09%5Carrow%5B%22%5Cnu%22%2C%20dashed%2C%20from%3D1-3%2C%20to%3D3-3%5D%0A%09%5Carrow%5B%22%7B%5Coverline%7B%5Cbeta%7D%7D%22%2C%20from%3D1-3%2C%20to%3D4-5%5D%0A%09%5Carrow%5B%22%7B%5Coverline%7B%5Csigma%7D%7D%22%2C%20from%3D4-1%2C%20to%3D1-3%5D%0A%5Cend%7Btikzcd%7D"
      alt=" \begin{tikzcd}
    &amp;&amp; {\overline{F}} \\
    \\
    &amp;&amp; F \\
    X &amp;&amp;&amp;&amp; G
    \arrow[&quot;\alpha&quot;', from=4-1, to=4-5]
    \arrow[&quot;\sigma&quot;, dashed, from=4-1, to=3-3]
    \arrow[&quot;\beta&quot;, dashed, from=3-3, to=4-5]
    \arrow[&quot;\nu&quot;, dashed, from=1-3, to=3-3]
    \arrow[&quot;{\overline{\beta}}&quot;, from=1-3, to=4-5]
    \arrow[&quot;{\overline{\sigma}}&quot;, from=4-1, to=1-3]
  \end{tikzcd}" /></p>
  <p>
    Of course there are still many things to add and tweak, but this is my basis for now and it seems to work reasonably well.
  </p>
  <script>includeHTML();</script>
</body>
</html>