<ul id="navbar">
    <li style="margin-right: 2em">
        <span style="font-size: 2em; display:block; clear: both;">Breadcat.lol</span>
        <span style="display: block; float: right;">- Cat moment</span>
    </li>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="#">Nothing</a></li> -->
</ul>
<div style="clear:both;"></div>