body {
    font-family: 'Noto Serif';
    max-width: 70ch;
    padding: 0 2ch;
    padding-bottom: 2ch;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
}

ul#navbar li {
    float: left;
    display: inline;
}

ul#navbar li a {
    display: block;
    margin-right: 1em;
    padding: 0.2em 0.5em;
    border-radius: 0.25em;
    text-decoration: none;
    color: black;
}

ul#navbar li a:hover {
    background-color: lightgray;
}

.definition,
.example,
.proposition,
.theorem,
.corollary,
.notation,
.lemma {
    counter-increment: thm-counter;
}

.definition,
.example,
.theorem,
.proposition,
.corollary,
.proof,
.notation,
.lemma {
    display: block;
    margin: 1em 0;
    box-sizing: border-box;
}

.definition:after,
.example:after,
.theorem:after,
.proposition:after,
.corollary:after,
.notation:after,
.lemma:after {
    content: "\2B27";
    float: right;
}

.definition:before {
    content: "Definition " counter(thm-counter) ". ";
    font-weight: bold;
}

.definition[text]:before {
    content: "Definition " counter(thm-counter) " (" attr(text) ").";
}

.corollary:before {
    content: "Corollary " counter(thm-counter) ". ";
    font-weight: bold;
}

.corollary[text]:before {
    content: "Corollary " counter(thm-counter) " (" attr(text) ").";
}

.proposition:before {
    content: "Proposition " counter(thm-counter) ". ";
    font-weight: bold;
}

.proposition[text]:before {
    content: "Proposition " counter(thm-counter) " (" attr(text) ").";
}

.example:before {
    content: "Example " counter(thm-counter) ". ";
    font-weight: bold;
}

.example[text]:before {
    content: "Example " counter(thm-counter) " (" attr(text) ").";
}

.theorem:before {
    content: "Theorem " counter(thm-counter) ". ";
    font-weight: bold;
}

.theorem[text]:before {
    content: "Theorem " counter(thm-counter) " (" attr(text) ").";
}

.proof:before {
    content: "Proof. ";
    font-style: italic;
}

.proof[text]:before {
    content: "Proof (" attr(text) ").";
}

.proof:after {
    content: "\25A1";
    float: right;
}

.notation:before {
    content: "Notation " counter(thm-counter) ". ";
    font-weight: bold;
}

.notation[text]:before {
    content: "Notation " counter(thm-counter) " (" attr(text) ").";
}

.lemma:before {
    content: "Lemma " counter(thm-counter) ". ";
    font-weight: bold;
}

.lemma[text]:before {
    content: "Lemma " counter(thm-counter) " (" attr(text) ").";
}
